<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Plato - scripts/directives/wallet/addressList.js</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="../../assets/css/vendor/morris.css" rel="stylesheet">
  <link href="../../assets/css/vendor/bootstrap.css" rel="stylesheet">
  <link href="../../assets/css/vendor/font-awesome.css" rel="stylesheet">
  <link href="../../assets/css/vendor/codemirror.css" rel="stylesheet">
  <link href="../../assets/css/plato.css" rel="stylesheet">
  <link href="../../assets/css/plato-file.css" rel="stylesheet">

</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="http://github.com/es-analysis/plato">Plato on Github</a>
    <ul class="nav navbar-nav">
      <li>
        <a href="../../index.html">Report Home</a>
      </li>
    </ul>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h1>scripts/directives/wallet/addressList.js</h1>
  </div>
</div>

<div class="container aggregate-stats">
  <div class="row">
    <div class="col-md-6">
      <h2 class="header">Maintainability <a href="http://blogs.msdn.com/b/codeanalysis/archive/2007/11/20/maintainability-index-range-and-meaning.aspx"><i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="A value between 0 and 100 that represents the relative ease of maintaining the code. A high value means better maintainability." data-original-title="Maintainability Index"  data-container="body"></i></a></h2>
      <p class="stat">70.42</p>
    </div>
    <div class="col-md-6">
      <h2 class="header">Lines of code <i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="Source Lines of Code / Logical Lines of Code" data-original-title="SLOC/LSLOC" data-container="body"></i></h2>
      <p class="stat">189</p>
    </div>
  </div>
  <div class="row historical">
    <div class="col-md-6">
      <p id="chart_historical_maint" class="chart"></p>
    </div>
    <div class="col-md-6">
      <p id="chart_historical_sloc" class="chart"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="header">Difficulty  <a href="http://en.wikipedia.org/wiki/Halstead_complexity_measures"><i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="The difficulty measure is related to the difficulty of the program to write or understand." data-original-title="Difficulty" data-container="body"></i></a></h2>
      <p class="stat">15.54</p>
    </div>
    <div class="col-md-6">
      <h2 class="header">Estimated Errors  <a href="http://en.wikipedia.org/wiki/Halstead_complexity_measures"><i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="Halstead's delivered bugs is an estimate for the number of errors in the implementation." data-original-title="Delivered Bugs" data-container="body"></i></a></h2>
      <p class="stat">1.39</p>
    </div>
  </div>
</div>

<div class="container charts">
  <div class="row">
    <h2 class="header">Function weight</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="chart-header">By Complexity <a href="http://en.wikipedia.org/wiki/Cyclomatic_complexity"><i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="This metric counts the number of distinct paths through a block of code. Lower values are better." data-original-title="Cyclomatic Complexity" data-container="body"></i></a></h3>
      <div id="fn-by-complexity" class="stat"></div>
    </div>
    <div class="col-md-6">
      <h3 class="chart-header">By SLOC  <i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="Source Lines of Code / Logical Lines of Code" data-original-title="SLOC/LSLOC" data-container="body"></i></h3>
      <div id="fn-by-sloc" class="stat"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <textarea id="file-source" class="col-md-12">/**
 * @fileOverview ./app/scripts/directives/wallet/about.js
 * @usage 
 * &lt;tgm-about content=&quot;vm.someContent&quot;&gt;&lt;/tgm-about&gt;
 * ... later, from within some controller ...
 * $scope.$broadtcast(&#039;about:content:loaded&#039;)
 */
(function() { 

    &#039;use strict&#039;

    angular.module(&#039;tgmAddressList&#039;, [
        tgmAddressListDirective
    ])

    ctrl.$inject = [
        &#039;$scope&#039;,
        &#039;cuid&#039;
    ]

    // Initialize with top-level content first, then give route to content via broadcast.
    // @usage Inside the directive: &lt;span&gt;{{vm.content|content}}&lt;/span&gt;
    function ctrl($scope, cuid) {

        var id = cuid()
        var vm = this

		vm.getClasses = getClasses 
		vm.getBalance = getBalance

        $scope.$on(&#039;about:content:loaded&#039;, function($event, $data) {
            vm.content = $data.content
            console.log([&#039;about::&#039;, id, &#039;::&#039;, $event].join(&#039;&#039;))
        })

        console.log(&#039;Initializing...&#039;)

		function getClasses(values) {
			var cls = &#039;fw-addresslist-address &#039;;
			if(values.address==FW.WALLET_ADDRESS.address)
				cls += &#039;current-address&#039;;
			return cls;
		}

		function getBalance(values, asset) {
			var store  = Ext.getStore(&#039;Balances&#039;),
				prefix = values.address.substr(0,5),
				data   = store.data.all,
				qty    = 0;
			// Loop through all store data and try to find balance
			Ext.each(data, function(item){
				var rec = item.data;
				if(rec.prefix==prefix &amp;&amp; rec.asset==asset)
					qty = rec.quantity;
			});
			return numeral(qty).format(&#039;0,0.00000000&#039;);

	   }

    }

    function tgmAddressListDirective() {
        var dv = {
            restrict: &#039;E&#039;,
            templateUrl: &#039;&#039;,
            scope: {
                content: &#039;=&#039;
            },
            controller: ctrl,
            link: function($scope, $element, $attrs) {
                console.log(&#039;DOM element loaded&#039;)

				$scope.initialize = initialize
				$scope.onAddAddress = onAddAddress
				$scope.onListSearch = onListSearch

				// Called when view is first initialized
				function initialize(){
					var me     = this,
						cfg   = me.config;
					// Setup alias to main controller
					me.main = FW.app.getController(&#039;Main&#039;);
					// Setup some aliases for the various components
					me.tb     = me.down(&#039;fw-toptoolbar&#039;);
					me.search = me.getComponent(&#039;listSearch&#039;);
					// Call the parent handler
					me.callParent();
					// Handle setting up the list listeners
					me.setListeners({
						itemtap: function(cmp, index, target, record, e, eOpts){
							// Change wallet address to selected address
							me.main.setWalletAddress(record.data.address, true);
							me.main.showMainView();
						},
						// Whenever list is shown, update list to only display records which match wallet prefix and network
						show: function(){
							me.onListSearch();
						}
					});         
					// Handle applying any background class to the list in the correct place (so docked components don&#039;t overlay over background)
					if(cfg.bgCls)
						me.element.down(&#039;.x-dock-body&#039;).addCls(cfg.bgCls);
				}


				// Handle searching list for specific matches
				function onListSearch(str){
					var me     = this,
						store  = me.getStore(),
						regexp = new RegExp(str,&quot;ig&quot;),
						filter = Ext.create(&#039;Ext.util.Filter&#039;, {
									filterFn: function(item){
										var o = item.data;
										// Only show addresses for the current wallet 
										if(o.prefix==FW.WALLET_PREFIX &amp;&amp; o.network==FW.WALLET_NETWORK){
											if(str){
												if(o.address &amp;&amp; String(o.address).match(regexp)!=null)
													return true;
												if(o.label &amp;&amp; String(o.label).match(regexp)!=null)
													return true;
												return false;
											}
											return true;
										}
										return false;
									}, 
									root: &#039;data&#039;
								});
					store.clearFilter();
					store.filter(filter);
					me.refresh();        
				}


				// Handle prompting user what action they would like to take, then perform that action
				function onAddAddress(){
					var me = this;
					// @TODO  $ionicModal
					Ext.Msg2.show({
						buttons:[{
							itemId: &#039;add&#039;,
							iconCls: &#039;fa fa-plus&#039;,
							text: &#039;Add New Address&#039;
						},{
							itemId: &#039;import&#039;,
							iconCls: &#039;fa fa-upload&#039;,
							text: &#039;Import Private Key&#039;
						},{
							itemId: &#039;cancel&#039;,
							iconCls: &#039;fa fa-cancel&#039;,
							ui: &#039;decline&#039;,
							text: &#039;Cancel&#039;
						}],
						fn: function(btn){
							// Handle adding 1 new address to the wallet
							if(btn==&#039;add&#039;){
								// Confirm with user that they want to generate new address
								// @TODO $ionicDialog
								Ext.Msg.confirm(&#039;Add Address&#039;, &#039;Are you sure?&#039;, function(btn){
									if(btn==&#039;yes&#039;){
										// Defer message a bit to prevent knkown issue in 
										// sencha touch library 
										// (https://www.sencha.com/forum/showthread.php?279721)
										// @TODO $q
										Ext.defer(function(){
											addr = me.main.addWalletAddress(1,null,true,true);
										},10);
									}
								});                    
							}
							if(btn==&#039;import&#039;){
								var cb = function(address, privkey){
									if(address &amp;&amp; privkey){
										console.log(&#039;address,privkey=&#039;,address,privkey);
										me.main.addWalletPrivkey(privkey, true);
									}
								}
								me.main.promptAddressPrivkey(cb);
							}
						}
					});
				}

            }
        }

        return dv
    }
})()</textarea>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>.</p>
  </div>
</footer>

<script type="text/html" id="complexity-popover-template">
  <div class="complexity-notice">
    Complexity : {{ cyclomatic }} <br>
    Length : {{ halstead.length }} <br>
    Difficulty : {{ halstead.difficulty.toFixed(2) }} <br>
    Est # bugs : {{ halstead.bugs.toFixed(2) }}<br>
  </div>
</script>

<script type="text/javascript" src="../../assets/scripts/bundles/core-bundle.js"></script>
<script type="text/javascript" src="../../assets/scripts/bundles/codemirror.js"></script>
<script type="text/javascript" src="../../assets/scripts/codemirror.markpopovertext.js"></script>
<script type="text/javascript" src="report.js"></script>
<script type="text/javascript" src="report.history.js"></script>
<script type="text/javascript" src="../../assets/scripts/plato-file.js"></script>
</body>
</html>
