<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Plato - scripts/services/ModelService.js</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="../../assets/css/vendor/morris.css" rel="stylesheet">
  <link href="../../assets/css/vendor/bootstrap.css" rel="stylesheet">
  <link href="../../assets/css/vendor/font-awesome.css" rel="stylesheet">
  <link href="../../assets/css/vendor/codemirror.css" rel="stylesheet">
  <link href="../../assets/css/plato.css" rel="stylesheet">
  <link href="../../assets/css/plato-file.css" rel="stylesheet">

</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="http://github.com/es-analysis/plato">Plato on Github</a>
    <ul class="nav navbar-nav">
      <li>
        <a href="../../index.html">Report Home</a>
      </li>
    </ul>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h1>scripts/services/ModelService.js</h1>
  </div>
</div>

<div class="container aggregate-stats">
  <div class="row">
    <div class="col-md-6">
      <h2 class="header">Maintainability <a href="http://blogs.msdn.com/b/codeanalysis/archive/2007/11/20/maintainability-index-range-and-meaning.aspx"><i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="A value between 0 and 100 that represents the relative ease of maintaining the code. A high value means better maintainability." data-original-title="Maintainability Index"  data-container="body"></i></a></h2>
      <p class="stat">71.92</p>
    </div>
    <div class="col-md-6">
      <h2 class="header">Lines of code <i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="Source Lines of Code / Logical Lines of Code" data-original-title="SLOC/LSLOC" data-container="body"></i></h2>
      <p class="stat">235</p>
    </div>
  </div>
  <div class="row historical">
    <div class="col-md-6">
      <p id="chart_historical_maint" class="chart"></p>
    </div>
    <div class="col-md-6">
      <p id="chart_historical_sloc" class="chart"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="header">Difficulty  <a href="http://en.wikipedia.org/wiki/Halstead_complexity_measures"><i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="The difficulty measure is related to the difficulty of the program to write or understand." data-original-title="Difficulty" data-container="body"></i></a></h2>
      <p class="stat">38.40</p>
    </div>
    <div class="col-md-6">
      <h2 class="header">Estimated Errors  <a href="http://en.wikipedia.org/wiki/Halstead_complexity_measures"><i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="Halstead's delivered bugs is an estimate for the number of errors in the implementation." data-original-title="Delivered Bugs" data-container="body"></i></a></h2>
      <p class="stat">1.62</p>
    </div>
  </div>
</div>

<div class="container charts">
  <div class="row">
    <h2 class="header">Function weight</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="chart-header">By Complexity <a href="http://en.wikipedia.org/wiki/Cyclomatic_complexity"><i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="This metric counts the number of distinct paths through a block of code. Lower values are better." data-original-title="Cyclomatic Complexity" data-container="body"></i></a></h3>
      <div id="fn-by-complexity" class="stat"></div>
    </div>
    <div class="col-md-6">
      <h3 class="chart-header">By SLOC  <i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="Source Lines of Code / Logical Lines of Code" data-original-title="SLOC/LSLOC" data-container="body"></i></h3>
      <div id="fn-by-sloc" class="stat"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <textarea id="file-source" class="col-md-12">// ./app/scripts/services/ModelService.js
/**
 * @ngdoc service
 * @name TelegrafWallet.ModelService
 * @description Model Service:
 * 1. Actions: Augments data model with MODEL.action.{{API_ACTION_NAME}}() (to
 * be used in `ng-click` or `ng-href`, assuming the HTTP METHOD.
 * 2. Caching: Creates a place for synchronized model data that has been requested such
 * that the front end can cache and manage data based on its model as reflected
 * in the REST API.
 * 3. Combine: Create higher order methods like &quot;save&quot; to be used at a controller (rather
 * than using raw `ApiService` methods. Combine REST calls logic in a generic
 * way rather than at the controller.
 * 4. Create a &quot;working item&quot; directory under each model, and initialize
 * collections in a uniform way.
 */

(function() {
  &#039;use strict&#039;;
  angular.module(&#039;TelegrafWallet&#039;)
    .service(&#039;ModelService&#039;, ModelService);

  ModelService.$inject = [&#039;Restangular&#039;, &#039;ApiService&#039;, &#039;$q&#039;];
  /**
   * @name ModelService
   * @returns {*} undefined
   */
  function ModelService(Restangular, ApiService, $q) {

    var service = this;
    this.modelResource = {};

    this.models = {
      reservations: {
        collection: [],
        item: {}
      },
      offers: {
        collection: [],
        item: {}
      },
      users: {
        collection: [],
        item: {}
      }
    };

    /**
     * @name save
     * @returns {*} undefined
     */
    this.save = function() {
      if (this.item._id) {
        return this.modelResource[name].update(this.item);
      } else {
        // @TODO add `create` for ApiService
        return this.modelResource[name].create(this.item)
          .then(function(itemId) {
            return itemId;
          }, function(e) {
            // console.log(e);
          });
      }
    };

    /**
     * @name delete
     * @returns {*} undefined
     */
    this.delete = function() {
      // @stub
    };

    /**
     * @name init
     * @param {string} name Model name
     * @param {string} operation Restangular operation.
     * @param {object} data Data for use.
     * @param {object} $service API resource (a factory for getting and
     * initializing data).
     * @returns {*} undefined
     */
    service.init = function(name, operation, data, $service) {
      Restangular.addElementTransformer(name, false, function(element) {
        element.loaded = true;
        return element;
      });
      this.modelResource[name] = $service[name];
      this.models[name] = this.models[name] || data;
    }

    /**
     * @name initCollection
     * @param {string} modelId Model ID
     * @returns {*} undefined
     */
    this.initCollection = function(name, data) {
      service.getModel(name).collection = data;
      return data;
    };

    /**
     * @name initItem
     * @param modelId
     * @returns {*} undefined
     */
    this.initItem = function(schema, url, data, name) {
      this.enactModel(name, data);
      var deferred = $q.defer();
      var id = url.split(&#039;/&#039;).pop();
      if (id) {
        try {
          this.modelResource[name].get(id)
            .then(function(model) {
              deferred.resolve(model);
            }, function(e) {
              // console.log(e);
            });
        } catch(e) {
          // console.log(e);
        }
      } else {
        service.item = {
          _id: undefined
        };
        deferred.resolve(service.item);
      }
      return deferred.promise;
    };

    /**
     * @name enactModel
     * @param modelName
     * @param data
     * @returns {undefined}
     */
    this.enactModel = function(modelName, data) {
      Restangular.extendModel(modelName, function(model) {
        model.action = {};
        var _name = modelName.replace(/ies$/, &#039;y&#039;);
        _name = _name.replace(/s$/, &#039;&#039;);

        if (!data[_name] || !data[_name].links) {
          return model;
        }
        _.each(data[_name].links, function(link) {
          if (/action$/.test(link.href)) {

            /**
             * @usage ng-click=&quot;vm.reservation.completePayment({})&quot;
             */
            model.action[link.rel] = function(params) {
              service.modelResource[modelName].action(model._id)(key, params)
            };
          } else {
            /**
             * @usage ng-href=&quot;vm.reservation.self()&quot;
             */
            model.action[link.rel] = function() {
              // console.log(&#039;Model has method: &#039; + link.rel + &#039;(): &#039;, link.href);
              return link.href;
            };
          }
        })
        return model;
      });
    };

    /**
     * @name getModel
     * @param modelId=&#039;users&#039;
     * @returns {undefined}
     */
    this.getModel = function(name) {
      var emptyModel = { collection: [], item: {} };
      this.models[name] = this.models[name] ? this.models[name] : emptyModel;
      return this.models[name] || {};
    };

    /**
     * @name modelNamespace
     * @param {string} name Model name.
     * @returns {*} undefined
     */
    function modelNamespace(name, factory) {
      if (!factory) {
        return function(data, operation, schema, url) {
          if (name === schema &amp;&amp; operation === &#039;get&#039; &amp;&amp; Object.keys(service.models[name].item).length) {
            return service.models[name].item;
          }
          if (name === schema &amp;&amp; operation === &#039;getList&#039; &amp;&amp; service.models[name].collection.length) {
            return service.models[name].collection;
          }
          return data;
        }
      }

      return function(data, operation, schema, url, response, deferred) {
        // diff of time since last call?
        if (name === schema &amp;&amp; operation === &#039;get&#039;) {
          if (service.models[name] &amp;&amp; !Object.keys(service.models[name].item).length &amp;&amp; service.modelResource[name]) {
            service.initItem(schema, url, data, name).then(function(item) {
              var modelName = angular.copy(name);
              var _name = modelName.replace(/ies$/, &#039;y&#039;);
              _name = _name.replace(/s$/, &#039;&#039;);
              var newItem = Restangular.stripRestangular(item.data);
              var modelData = newItem[_name];
              var extendedModel = _.extend(newItem, modelData);
              delete extendedModel[_name];
              // console.log(&#039;ℹ️&#039;, extendedModel);
              service.models[name].item = extendedModel;
            }, function(e) {
              // console.log(e);
            });
          }
        } else if (name === schema &amp;&amp; operation === &#039;getList&#039;) {
          if (service.models[name] &amp;&amp; !service.models[name].collection.length) {
            service.initCollection(name, data);
          }
        }

        service.init(name, operation, data, factory);
        service.enactModel(name, data);
        return data;
      };
    }

    Restangular.addResponseInterceptor(modelNamespace(&#039;users&#039;, ApiService));
    Restangular.addResponseInterceptor(modelNamespace(&#039;reservations&#039;, ApiService));
    Restangular.addResponseInterceptor(modelNamespace(&#039;offers&#039;, ApiService));
    Restangular.addRequestInterceptor(modelNamespace(&#039;users&#039;));
    Restangular.addRequestInterceptor(modelNamespace(&#039;reservations&#039;));
    Restangular.addRequestInterceptor(modelNamespace(&#039;offers&#039;));
  }
})();</textarea>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>.</p>
  </div>
</footer>

<script type="text/html" id="complexity-popover-template">
  <div class="complexity-notice">
    Complexity : {{ cyclomatic }} <br>
    Length : {{ halstead.length }} <br>
    Difficulty : {{ halstead.difficulty.toFixed(2) }} <br>
    Est # bugs : {{ halstead.bugs.toFixed(2) }}<br>
  </div>
</script>

<script type="text/javascript" src="../../assets/scripts/bundles/core-bundle.js"></script>
<script type="text/javascript" src="../../assets/scripts/bundles/codemirror.js"></script>
<script type="text/javascript" src="../../assets/scripts/codemirror.markpopovertext.js"></script>
<script type="text/javascript" src="report.js"></script>
<script type="text/javascript" src="report.history.js"></script>
<script type="text/javascript" src="../../assets/scripts/plato-file.js"></script>
</body>
</html>
